.contact {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 20px;
  div {
    display: inline-block;
  }
  img {
    width: 50px;
    margin-right: 20px;
  }
}
